p {
    font-family: Lato;
}

.example-form {
    min-width: 150px;
    max-width: 750px;
    width: 100%;
}

.example-full-width {
    width: 100%;
    font-family: Poppins;
    font-weight: SemiBold;
    font-size: 12px;
    color: #6c6e70;
}

.example-button {
    float: right;
}